* {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}

img {
    width: 5.2rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75vh;
    width: 40vw;
}

.bot-area, .player-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    line-height: 1.52rem;
}

.bot-area {
    background-image: linear-gradient(to top,  rgb(59, 159, 240), rgb(59, 213, 240));
    background-color: rgb(59, 159, 240);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.player-area {
    background-image: linear-gradient(to bottom,  rgb(59, 240, 83), rgb(171, 240, 59));
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.info-area{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 44%;
    left: 37.5%;
    width: 125px;
    height: 50px;
    font-size: 23px;
    background-color: white;
    color: salmon;
    border: 5px solid salmon;
    border-radius: 15px;
    
}